/*  your css code here. If applicable */
body{
	background-color: #f6f6f6;
	width:100%;
}
h1{
	
}
.first{
	text-align:start;
	margin-left: 50px;
	margin-top: 50px;
	
}
.parent{ 
	display:flex;
	text-align:center;	
}
h1{
	color:#1a77f2;
	font-size: 40px;

}
.form{
	display:flex;
	flex-direction: column;
	align-content: center;
	gap:10px;
	margin-left: 90px;
	margin-top:50px;
	
	border: 2px solid gray;
	padding:30px;
	border-radius:9px;
	outline: 1px solid #32557f;
	width: 300px
}
hr{
	width: 90%;
    border-top: 2px solid gray;
    margin-top: 0px;
	margin-bottom:0px;
	
}
#log{
	background-color:#1a77f2;
	color:white;
	border: 1px solid #1a77f2;
	border-radius:5px;
	margin-left: 5px;
	height:25px;
	width: 280px;
}
#newact{
	margin-left: 5px;
	height:25px;
	width: 280px;
	background-color: #43b72a;
	color:white;
	border: 1px solid #c3e8bb;
	border-radius:5px;
}






